{{!-- rendered in city.hbs --}}

{{!-- {{tutu}} --}}

<div id="today-forecasts-wrapper" class="row box">
  <div id="map" class="col-md-7">
    {{google-map lng=city.coord.lon lat=city.coord.lat}}
  </div>
  <div id="today" class="col-md-5">
    <div class="row">
      <div id="location" class="col-md-12">
        {{city.name}}, <span>{{city.country}}</span>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div id="temperature" class="col-md-12">
        <div class="row">
          <div id="strict" class="col-md-8">
            {{format-temp today.temp.day}}°C
          </div>
          <div id="min-max" class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <span id="max">{{format-temp today.temp.max}}°C</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span id="min">{{format-temp today.temp.min}}°C</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="weather-icon" class="col-md-12">
        {{#each weather in today.weather}}
          {{ iconW weather.icon }}
        {{/each}}
      </div>
    </div>
    <div class="row">
      {{#each weather in today.weather}}
        <div id="feels" class="col-md-12">
          {{weather.description}} <!--, <span>{{weather.main}}</span>-->
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div id="future-forecasts-wrapper" class="row">
  {{view EmberWeather.ForecastView contentBinding="forecast"}}
</div>